In [28]:
# Imports several basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import time
from scipy import stats
import datetime as dt
import gc

sns.set_style('whitegrid')
%matplotlib

Using matplotlib backend: MacOSX

In [81]:
# ignore the warnings
import warnings 
warnings.filterwarnings("ignore")

# import the package of heterogenous classifiers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import normalize
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from statsmodels.tsa.statespace.sarimax import SARIMAX

import xgboost as xgb
import lightgbm as lgb
import catboost as cab

In [30]:
data = pd.read_csv('/Users/mac/Desktop/UCB/290-Data-X/Project/Dataset/summary.csv')

In [87]:
data

,sku_id,order_time,sales,sales_sum/2w,sales_sum/month,sales_sum/quarter,comment_sum,comment_mean,comment_mean/2w,comment_mean/month,...,area,area_sum/2w,area_sum/month,area_sum/quarter,price,cate,para_1,para_2,para_3,output
0,10033,2016/5/1,0,0,0,0,0,0,0.0,0.0,...,0,0,0,0,1375.3,30,667.43,-1,-1,0.0
1,10033,2016/5/15,0,0,0,0,0,0,0.0,0.0,...,0,0,0,0,1375.3,30,667.43,-1,-1,0.0
2,10033,2016/5/29,0,0,0,0,0,0,0.0,0.0,...,0,0,0,0,1375.3,30,667.43,-1,-1,0.0
3,10033,2016/6/12,0,0,0,0,0,0,0.0,0.0,...,0,0,0,0,1375.3,30,667.43,-1,-1,0.0
4,10033,2016/6/26,0,0,0,0,0,0,0.0,0.0,...,0,0,0,0,1375.3,30,667.43,-1,-1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73071,9981,2017/3/5,0,13,25,35,3,1,1.0,1.0,...,0,12,22,28,316.3,101,174.05,4,4,12.0
73072,9981,2017/3/19,0,4,18,39,0,0,1.0,1.0,...,0,4,17,32,316.3,101,174.05,4,4,13.0
73073,9981,2017/4/2,0,9,13,48,0,0,1.0,1.0,...,0,8,12,40,316.3,101,174.05,4,4,4.0
73074,9981,2017/4/16,0,5,14,49,0,0,1.5,1.4,...,0,4,12,42,316.3,101,174.05,4,4,9.0
73075,9981,2017/4/30,0,14,19,57,0,0,1.0,1.4,...,0,9,13,47,316.3,101,174.05,4,4,5.0

In [88]:
date = set(data['order_time'])
print(date)

{'2016/7/10', '2016/10/16', '2017/3/19', '2016/8/7', '2016/5/1', '2016/9/18', '2016/9/4', '2017/4/2', '2017/4/30', '2016/7/24', '2016/6/26', '2017/1/8', '2017/2/19', '2016/11/13', '2016/10/30', '2016/6/12', '2017/1/22', '2016/12/11', '2017/2/5', '2016/10/2', '2016/12/25', '2016/11/27', '2017/4/16', '2016/5/29', '2016/8/21', '2016/5/15', '2017/3/5'}

In [89]:
set(data['cate'])

{1, 30, 46, 71, 83, 101}

In [31]:
# extract numeric features from date
order_time = data['order_time']
order_time_df = pd.to_datetime(order_time) 
data['year_order_time'] = order_time_df.dt.year 
data['month_order_time'] = order_time_df.dt.month 
data['day_order_time'] = order_time_df.dt.day 
data['hour_order_time'] = order_time_df.dt.hour
data['minute_order_time'] = order_time_df.dt.minute
data['second_order_time'] = order_time_df.dt.second
data['weekday_order_time'] = order_time_df.dt.weekday

In [32]:
# Apply One-Hot-Encoding to categorical features
def One_hot_encoding(dataframe, features):
    feature_dummy = []
    for i in features:
        dataframe_dummy = pd.get_dummies(dataframe[i], prefix = i)
        feature_dummy.append(dataframe_dummy)
    dataframe_new = pd.concat(feature_dummy + [dataframe], axis = 1)
    dataframe_new.drop(features, inplace = True, axis = 1)
    return dataframe_new

In [98]:
data.columns

Index(['sku_id', 'order_time', 'sales', 'sales_sum/2w', 'sales_sum/month',
       'sales_sum/quarter', 'comment_sum', 'comment_mean', 'comment_mean/2w',
       'comment_mean/month', 'comment_mean/quarter', 'comment_sum/2w',
       'comment_sum/month', 'comment_sum/quarter', 'browse', 'follow',
       'browse/2w', 'browse/month', 'browse/quarter', 'follow/2w',
       'follow/month', 'follow/quarter', 'user_lv', 'user_num', 'user_lv/2w',
       'user_lv/month', 'user_lv/quarter', 'user_num/2w', 'user_num/month',
       'user_num/quarter', 'area', 'area_sum/2w', 'area_sum/month',
       'area_sum/quarter', 'price', 'cate', 'para_1', 'para_2', 'para_3',
       'output', 'year_order_time', 'month_order_time', 'day_order_time',
       'hour_order_time', 'minute_order_time', 'second_order_time',
       'weekday_order_time'],
      dtype='object')

In [33]:
# apply one-hot encoding
feature_cols = ['cate', 'year_order_time', 'month_order_time']
data_oh = One_hot_encoding(data, feature_cols)

In [34]:
training_set = data_oh[data_oh['order_time'] != '2017/4/30']
training_set = training_set[training_set['order_time'] != '2017/4/16']
training_set = training_set[training_set['order_time'] != '2016/5/1']
training_set = training_set[training_set['order_time'] != '2016/10/30']
testing_set = data_oh[data_oh['order_time'] == '2017/4/16']
training_set.reset_index(inplace = True)
testing_set.reset_index(inplace = True)
del training_set['index']
del testing_set['index']

In [51]:
set(training_set['order_time'])

{'2016/10/16',
 '2016/10/2',
 '2016/10/30',
 '2016/11/13',
 '2016/12/11',
 '2016/12/25',
 '2016/5/15',
 '2016/5/29',
 '2016/6/12',
 '2016/6/26',
 '2016/7/10',
 '2016/7/24',
 '2016/8/21',
 '2016/8/7',
 '2016/9/18',
 '2016/9/4',
 '2017/1/22',
 '2017/1/8',
 '2017/2/19',
 '2017/2/5',
 '2017/3/19',
 '2017/3/5',
 '2017/4/2'}

In [52]:
set(testing_set['order_time'])

{'2017/4/16'}

In [35]:
training_set.index = training_set['sku_id']
testing_set.index = testing_set['sku_id']
drop_columns = ['sku_id', 'order_time']
training_set.drop(drop_columns, inplace = True, axis = 1)
testing_set.drop(drop_columns, inplace = True, axis = 1)

In [36]:
training_set.to_csv('/Users/mac/Desktop/UCB/290-Data-X/Project/Dataset/train.csv')
testing_set.to_csv('/Users/mac/Desktop/UCB/290-Data-X/Project/Dataset/test.csv')

In [50]:
training_set = pd.read_csv('/Users/mac/Desktop/UCB/290-Data-X/Project/Dataset/train.csv', index_col = 'sku_id')  
testing_set = pd.read_csv('/Users/mac/Desktop/UCB/290-Data-X/Project/Dataset/test.csv', index_col = 'sku_id')

In [51]:
sku_id = list(set(training_set.index))

In [70]:
sku_id

[16385,
 98308,
 32774,
 49159,
 90120,
 49162,
 49163,
 24592,
 73744,
 81939,
 32790,
 73753,
 16410,
 24603,
 24605,
 73759,
 49188,
 57385,
 73769,
 43,
 81964,
 57391,
 73776,
 98359,
 49210,
 8253,
 98369,
 49218,
 8259,
 49223,
 98375,
 49226,
 76,
 57422,
 32848,
 90202,
 32860,
 82014,
 16479,
 98,
 32867,
 41061,
 82022,
 90217,
 32876,
 57452,
 73838,
 8302,
 73844,
 32885,
 73845,
 16503,
 24697,
 16513,
 132,
 32901,
 73861,
 82055,
 65672,
 8328,
 49302,
 16536,
 65690,
 8349,
 90269,
 73894,
 32936,
 98472,
 82091,
 65708,
 24753,
 90291,
 57527,
 32952,
 73913,
 98494,
 57537,
 41155,
 90307,
 57541,
 16582,
 16586,
 24778,
 32973,
 41165,
 98512,
 209,
 16596,
 57557,
 73943,
 32986,
 219,
 57562,
 16607,
 65760,
 90335,
 98527,
 32995,
 82148,
 41189,
 41190,
 57574,
 8419,
 41193,
 49390,
 239,
 41200,
 41201,
 49393,
 49399,
 16633,
 24825,
 49403,
 65788,
 254,
 49409,
 260,
 8459,
 57617,
 24851,
 74010,
 82208,
 33059,
 74020,
 16677,
 57638,
 65831,
 33064,
 82214,
 57646,
 82222,
 98609,
 65851,
 24892,
 16704,
 98624,
 74052,
 8516,
 16710,
 24903,
 33097,
 49482,
 49483,
 16716,
 82251,
 98634,
 16719,
 342,
 90454,
 347,
 24924,
 41307,
 8541,
 90461,
 74080,
 8552,
 98667,
 8556,
 57709,
 65902,
 57711,
 98672,
 24946,
 57714,
 24948,
 8564,
 41335,
 65912,
 57723,
 380,
 16767,
 98688,
 74114,
 98692,
 33158,
 24967,
 24968,
 57735,
 65926,
 90510,
 98709,
 74134,
 90524,
 24990,
 24991,
 49570,
 65956,
 24997,
 98730,
 74157,
 33201,
 98739,
 90549,
 49591,
 25016,
 41401,
 8632,
 98749,
 16830,
 25024,
 41412,
 25030,
 33223,
 41419,
 98764,
 33229,
 41421,
 65997,
 41425,
 98769,
 33236,
 468,
 33244,
 16862,
 49633,
 25060,
 49638,
 66025,
 41457,
 74225,
 90609,
 25077,
 33271,
 504,
 98815,
 74240,
 74245,
 82437,
 90629,
 49675,
 49677,
 25105,
 25107,
 25110,
 57881,
 98850,
 41508,
 49703,
 90663,
 98858,
 41518,
 49710,
 49712,
 82479,
 90673,
 41523,
 16949,
 41526,
 49718,
 66102,
 98873,
 82501,
 16979,
 49748,
 600,
 57952,
 90720,
 41570,
 25188,
 25189,
 613,
 614,
 74351,
 625,
 57971,
 74357,
 17018,
 634,
 41596,
 74365,
 33406,
 74371,
 8835,
 17032,
 82568,
 25227,
 41611,
 41613,
 654,
 98959,
 41617,
 657,
 658,
 74385,
 82577,
 74396,
 673,
 8870,
 41639,
 98982,
 41641,
 98987,
 58028,
 25262,
 58032,
 98994,
 8883,
 25279,
 8897,
 707,
 74435,
 49867,
 90827,
 8920,
 90843,
 49884,
 25310,
 41695,
 41696,
 82657,
 99046,
 25319,
 41706,
 33519,
 58096,
 17141,
 33531,
 66299,
 17149,
 25344,
 41730,
 772,
 8965,
 90891,
 8973,
 82702,
 58127,
 58128,
 17171,
 74516,
 788,
 82707,
 17184,
 800,
 99105,
 33577,
 82731,
 66349,
 66361,
 826,
 49979,
 25406,
 74559,
 33605,
 33609,
 90954,
 90957,
 9039,
 41809,
 41813,
 58197,
 25435,
 33632,
 41825,
 33635,
 90980,
 875,
 877,
 17265,
 41842,
 74610,
 90995,
 58231,
 41851,
 25469,
 66435,
 50055,
 91026,
 91034,
 50077,
 82851,
 91046,
 82859,
 82863,
 58293,
 82869,
 58295,
 66487,
 91062,
 91069,
 17345,
 66497,
 25543,
 25548,
 25552,
 82897,
 981,
 82903,
 985,
 74714,
 74722,
 33764,
 17383,
 17391,
 58353,
 74742,
 58359,
 33784,
 66556,
 99328,
 1028,
 1033,
 1034,
 82953,
 17421,
 1040,
 42001,
 17428,
 74778,
 58406,
 33832,
 74798,
 42033,
 82994,
 91187,
 58422,
 83000,
 83004,
 74813,
 9281,
 91212,
 17486,
 33870,
 91216,
 58453,
 42084,
 83045,
 66663,
 83047,
 1132,
 66670,
 1137,
 33908,
 91252,
 33912,
 83065,
 66685,
 1151,
 17535,
 74881,
 33922,
 66690,
 91268,
 9350,
 91271,
 74894,
 83086,
 83088,
 74901,
 91286,
 33948,
 42142,
 1184,
 1190,
 9384,
 74922,
 33964,
 25775,
 58544,
 91313,
 58549,
 58553,
 42173,
 83136,
 1221,
 33994,
 33998,
 1234,
 74963,
 17620,
 25812,
 17622,
 1240,
 34011,
 50395,
 58590,
 17634,
 91362,
 74980,
 9446,
 34025,
 66794,
 9452,
 66802,
 1267,
 17653,
 83190,
 58619,
 17660,
 83195,
 17666,
 66819,
 25860,
 42245,
 66822,
 58631,
 25865,
 75027,
 75031,
 66848,
 42273,
 25891,
 34084,
 83235,
 58663,
 83240,
 1321,
 17705,
 50483,
 17716,
 1333,
 34101,
 25911,
 75060,
 42297,
 91444,
 91451,
 50492,
 1341,
 58690,
 34115,
 17735,
 34120,
 58697,
 83278,
 9557,
 1367,
 34136,
 1370,
 9563,
 50524,
 58716,
 83294,
 34147,
 42339,
 75109,
 50534,
 1383,
 91491,
 1385,
 34154,
 34156,
 58736,
 34161,
 66931,
 9589,
 25978,
 17788,
 34173,
 17791,
 9599,
 58754,
 42372,
 50565,
 9607,
 66954,
 75147,
 17804,
 9618,
 50579,
 91539,
 91541,
 83352,
 1433,
 83356,
 83360,
 50594,
 50598,
 42414,
 9649,
 1458,
 34226,
 50611,
 91572,
 1462,
 42423,
 26040,
 50614,
 67000,
 75190,
 67004,
 83387,
 50626,
 17859,
 17861,
 42438,
 50629,
 91596,
 34255,
 9679,
 17875,
 67030,
 34263,
 75224,
 83415,
 91608,
 26082,
 17894,
 42470,
 9709,
 17902,
 91630,
 75248,
 67057,
 9715,
 9718,
 58876,
 67069,
 17919,
 42501,
 9735,
 67088,
 34327,
 50719,
 17953,
 42529,
 42534,
 50727,
 17965,
 67123,
 75315,
 50741,
 83507,
 91700,
 1592,
 91706,
 1595,
 42555,
 91709,
 75326,
 50751,
 91712,
 75329,
 9788,
 9801,
 17994,
 75339,
 67148,
 91726,
 75343,
 18004,
 67156,
 58967,
 18008,
 67161,
 26207,
 42591,
 34404,
 67172,
 9833,
 91754,
 91755,
 67183,
 75375,
 83571,
 50806,
 91770,
 75387,
 42620,
 42635,
 83601,
 26259,
 9882,
 75421,
 75422,
 9887,
 50859,
 91820,
 91821,
 75445,
 9915,
 59069,
 18114,
 59076,
 91844,
 1741,
 26318,
 1749,
 9943,
 1754,
 50906,
 59098,
 9946,
 75492,
 18149,
 83688,
 67305,
 83691,
 1774,
 1775,
 34543,
 75510,
 50935,
 9975,
 67325,
 91901,
 1791,
 9981,
 67334,
 18184,
 67336,
 83723,
 26383,
 75535,
 34578,
 18198,
 75542,
 1818,
 50971,
 18205,
 50979,
 1831,
 26407,
 18217,
 50989,
 83757,
 75568,
 10033,
 34612,
 42805,
 1847,
 75579,
 67390,
 10055,
 26439,
 26442,
 26443,
 91983,
 26453,
 42849,
 75618,
 75620,
 1893,
 59241,
 51051,
 75628,
 83820,
 83822,
 92013,
 26486,
 1911,
 42872,
 26498,
 92035,
 34693,
 83846,
 42888,
 26505,
 1930,
 34701,
 59278,
 1935,
 83859,
 34710,
 59290,
 42918,
 10153,
 92082,
 51124,
 51126,
 10168,
 42945,
 75718,
 26570,
 59339,
 83914,
 10196,
 75741,
 67553,
 59362,
 92129,
 2022,
 18409,
 10220,
 51185,
 10226,
 2034,
 34804,
 59378,
 42998,
 83955,
 10237,
 18431,
 43014,
 34829,
 67597,
 26640,
 92177,
 18451,
 83987,
 43030,
 75802,
 18462,
 92191,
 18464,
 59429,
 10281,
 51241,
 43051,
 34860,
 59434,
 59436,
 84011,
 18482,
 26675,
 67634,
 34869,
 51254,
 84022,
 34872,
 2105,
 67643,
 18495,
 75844,
 18501,
 43078,
 67653,
 43081,
 92237,
 2127,
 34896,
 43089,
 34898,
 51280,
 67663,
 75855,
 10326,
 75859,
 84047,
 34906,
 34907,
 10333,
 34910,
 92255,
 34913,
 10339,
 67685,
 2152,
 84072,
 92266,
 10352,
 67696,
 43126,
 34936,
 59513,
 84093,
 75905,
 84102,
 84104,
 92298,
 51339,
 2188,
 51342,
 43155,
 2196,
 51347,
 18582,
 26774,
 2205,
 75934,
 18594,
 43172,
 43173,
 18603,
 2221,
 10414,
 75954,
 67764,
 43190,
 10423,
 35000,
 18618,
 26810,
 51387,
 2240,
 84161,
 67784,
 2250,
 51404,
 59600,
 84176,
 10452,
 2260,
 51414,
 51422,
 2275,
 35043,
 10469,
 84195,
 2280,
 35052,
 18676,
 18678,
 59639,
 43256,
 51450,
 92418,
 35076,
 10510,
 59662,
 67855,
 76052,
 51477,
 51478,
 18713,
 43289,
 43290,
 18717,
 35108,
 35114,
 67882,
 59692,
 76075,
 92464,
 43313,
 51505,
 43316,
 2357,
 92468,
 51514,
 67899,
 92474,
 18749,
 67902,
 18754,
 2370,
 92484,
 51528,
 67917,
 2383,
 18778,
 35162,
 10590,
 43363,
 84333,
 51566,
 43375,
 84339,
 43382,
 18807,
 67960,
 10621,
 43389,
 67966,
 43392,
 10625,
 43393,
 92546,
 43396,
 2444,
 59788,
 76175,
 18832,
 51601,
 51606,
 59798,
 2458,
 2463,
 76194,
 18851,
 76198,
 84393,
 35244,
 27056,
 92593,
 18874,
 35259,
 10685,
 10686,
 27075,
 76229,
 27080,
 92616,
 51658,
 10701,
 10702,
 43469,
 43471,
 18897,
 92626,
 92632,
 59865,
 84448,
 18913,
 43490,
 51681,
 92644,
 59877,
 27110,
 84455,
 27112,
 35306,
 68075,
 92651,
 59885,
 51695,
 27121,
 92657,
 59895,
 68089,
 ...]

In [52]:
y_train = training_set['output']
training_set.drop(['output'], inplace = True, axis = 1)
X_train = training_set[:]
y_test = testing_set['output']
testing_set.drop(['output'], inplace = True, axis = 1)
X_test = testing_set[:]

In [41]:
y_train.values

array([ 0.,  0.,  0., ..., 12., 13.,  4.])

In [53]:
# Normalization processing to speed-up calculation
ss_X = StandardScaler()  
ss_y = StandardScaler()  

X_train_scaled = ss_X.fit_transform(X_train)  
X_test_scaled = ss_X.transform(X_test)

In [123]:
def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / (y_true + 0.0001)))

# XGBoost

In [114]:
# Time series K-fold
tscv = TimeSeriesSplit(n_splits = 5)
mse_xgb_array = []
mae_xgb_array = []
mape_xgb_array = []
r2_xgb_array = []
startTime = time.time()
fold = 0

params = {'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 4000, 
          'min_child_weight': 1, 'colsample_bytree': 0.6, 
          'subsample': 0.8, 'seed': 10}

# Model training
for train_index, val_index in tscv.split(X_train_scaled):
    fold += 1
    print('Training on fold %d, please wait...' % fold)
    X_train_cv, X_val_cv, y_train_cv, y_val_cv = (X_train_scaled[train_index], X_train_scaled[val_index], 
                                                  y_train[train_index], y_train[val_index])
    
    dtrain = xgb.DMatrix(X_train_cv, label = y_train_cv)
    dval = xgb.DMatrix(X_val_cv)
    model = xgb.train(params, dtrain, num_boost_round = 1000)
    prediction = model.predict(dval)
    
    mse = mean_squared_error(prediction, y_val_cv)
    mae = mean_absolute_error(prediction, y_val_cv)
    mape = mean_absolute_percentage_error(prediction, y_val_cv)
    r2 = r2_score(prediction, y_val_cv)
    
    mse_xgb_array.append(mse)
    mae_xgb_array.append(mae)
    mape_xgb_array.append(mape)
    r2_xgb_array.append(r2)
    
    print('Training on fold %d completed' % fold)

time_xgb = time.time() - startTime
print('The whole XGBoost takes %fs!' % time_xgb, end = '\n')

mse_xgb = np.mean(mse_xgb_array)
print('MSE Score:')  
print(mse_xgb, end = '\n')

mae_xgb = np.mean(mae_xgb_array)
print('MAE Score:')  
print(mae_xgb, end = '\n')

mape_xgb = np.mean(mape_xgb_array)
print('MAPE Score:')  
print(mape_xgb, end = '\n')

r2_xgb = np.mean(r2_xgb_array)
print('R^2 Score:')  
print(r2_xgb, end = '\n')

Training on fold 1, please wait...
Training on fold 1 completed
Training on fold 2, please wait...
Training on fold 2 completed
Training on fold 3, please wait...
Training on fold 3 completed
Training on fold 4, please wait...
Training on fold 4 completed
Training on fold 5, please wait...
Training on fold 5 completed
The whole XGBoost takes 258.668119s!
MSE Score:
1367.7731198997715
MAE Score:
7.483407580563354
MAPE Score:
0.8860681060018148
R^2 Score:
0.4964251718515634

In [125]:
params = {'learning_rate': 0.01, 'max_depth': 3, 'n_estimators': 4000, 
          'min_child_weight': 1, 'colsample_bytree': 0.6, 
          'subsample': 0.8, 'seed': 10}

startTime = time.time()

# Model training
print('Training XGBoost, please wait...')
dtrain = xgb.DMatrix(X_train_scaled, label = y_train)
dval = xgb.DMatrix(X_test_scaled)
model = xgb.train(params, dtrain, num_boost_round = 1000)
prediction_xgb = model.predict(dval)

prediction_xgb = prediction_xgb * 0.8
print('Training on XGBoost completed')

mse_xgb = mean_squared_error(prediction_xgb, y_test)
mae_xgb = mean_absolute_error(prediction_xgb, y_test)
mape_xgb = mean_absolute_percentage_error(prediction_xgb, y_test)
r2_xgb = r2_score(prediction_xgb, y_test)

time_xgb = time.time() - startTime
print('The whole Quantile XGBoost takes %fs!' % time_xgb)
print()

print('MSE Score:')  
print(mse_xgb, end = '\n')

print('MAE Score:')  
print(mae_xgb, end = '\n')

print('MAPE Score:')  
print(mape_xgb, end = '\n')

print('R^2 Score:')  
print(r2_xgb, end = '\n')

Training XGBoost, please wait...
Training on XGBoost completed
The whole Quantile XGBoost takes 131.052861s!

MSE Score:
2136.314731211648
MAE Score:
11.350661437125106
MAPE Score:
0.7162362808166592
R^2 Score:
0.7705595921932032

In [143]:
testing_set = data[data['order_time'] == '2017/4/16']
testing_set.index = testing_set['sku_id']
testing_set_final = pd.concat((testing_set, y_test), axis = 1)
testing_set_final['prediction_xgb'] = prediction_xgb
testing_set_final['prediction_rf'] = prediction_rf
testing_set_final['prediction_lgb'] = prediction_lgb
testing_set_final['prediction_arima'] = prediction_arima
testing_set_final.to_csv('/Users/mac/Desktop/UCB/290-Data-X/Project/Results/result.csv', index = False)

In [146]:
prediction_all = prediction_rf * 0.5 + prediction_xgb * 0.4 + prediction_arima * 0.1
mse_xgb = mean_squared_error(prediction_all, y_test)
mae_xgb = mean_absolute_error(prediction_all, y_test)
mape_xgb = mean_absolute_percentage_error(prediction_all, y_test)
r2_xgb = r2_score(prediction_all, y_test)

time_xgb = time.time() - startTime
print('The whole Quantile XGBoost takes %fs!' % time_xgb)
print()

print('MSE Score:')  
print(mse_xgb, end = '\n')

print('MAE Score:')  
print(mae_xgb, end = '\n')

print('MAPE Score:')  
print(mape_xgb, end = '\n')

print('R^2 Score:')  
print(r2_xgb, end = '\n')

The whole Quantile XGBoost takes 327.145439s!

MSE Score:
2141.9181131067844
MAE Score:
11.668476366679696
MAPE Score:
0.7411809333502455
R^2 Score:
0.785911063108908

# Random Forest

In [124]:
# Time series K-fold
tscv = TimeSeriesSplit(n_splits = 5)
mse_rf_array = []
mae_rf_array = []
mape_rf_array = []
r2_rf_array = []
startTime = time.time()
fold = 0

# Model training
for train_index, val_index in tscv.split(X_train_scaled):
    fold += 1
    print('Training on fold %d, please wait...' % fold)
    X_train_cv, X_val_cv, y_train_cv, y_val_cv = (X_train_scaled[train_index], X_train_scaled[val_index], 
                                                  y_train[train_index], y_train[val_index])
    
    rf = RandomForestRegressor(n_estimators = 600, max_depth = 13, min_samples_split = 3,
                               min_samples_leaf = 10, oob_score = True, max_features = 'sqrt', 
                               random_state = 10)

    rf.fit(X_train_cv, y_train_cv)
    prediction = rf.predict(X_val_cv)
    
    mse = mean_squared_error(prediction, y_val_cv)
    mae = mean_absolute_error(prediction, y_val_cv)
    mape = mean_absolute_percentage_error(prediction, y_val_cv)
    r2 = r2_score(prediction, y_val_cv)
    
    mse_rf_array.append(mse)
    mae_rf_array.append(mae)
    mape_rf_array.append(mape)
    r2_rf_array.append(r2)
    
    print('Training on fold %d completed' % fold)

time_rf = time.time() - startTime
print('The whole Random Forest takes %fs!' % time_rf, end = '\n')

mse_rf = np.mean(mse_rf_array)
print('MSE Score:')  
print(mse_rf, end = '\n')

mae_rf = np.mean(mae_rf_array)
print('MAE Score:')  
print(mae_rf, end = '\n')

mape_rf = np.mean(mape_rf_array)
print('MAPE Score:')  
print(mape_rf, end = '\n')

r2_rf = np.mean(r2_rf_array)
print('R^2 Score:')  
print(r2_rf, end = '\n')

Training on fold 1, please wait...
Training on fold 1 completed
Training on fold 2, please wait...
Training on fold 2 completed
Training on fold 3, please wait...
Training on fold 3 completed
Training on fold 4, please wait...
Training on fold 4 completed
Training on fold 5, please wait...
Training on fold 5 completed
The whole Random Forest takes 222.537541s!
MSE Score:
1504.6800032107658
MAE Score:
7.444105386646619
MAPE Score:
0.9911027802408661
R^2 Score:
0.40914658573569157

In [129]:
startTime = time.time()

# Model training
print('Training Random Forest, please wait...')
rf = RandomForestRegressor(n_estimators = 1000, max_depth = 13, min_samples_split = 3,
                           min_samples_leaf = 10, oob_score = True, max_features = 'sqrt', 
                           random_state = 10)

rf.fit(X_train_scaled, y_train)
prediction_rf = rf.predict(X_test_scaled)

print('Training on Random Forest completed')

mse_rf = mean_squared_error(prediction_rf, y_test)
mae_rf = mean_absolute_error(prediction_rf, y_test)
mape_rf = mean_absolute_percentage_error(prediction_rf, y_test)
r2_rf = r2_score(prediction_rf, y_test)

time_rf = time.time() - startTime
print('The whole Random Forest takes %fs!' % time_rf)
print()

print('MSE Score:')  
print(mse_rf, end = '\n')

print('MAE Score:')  
print(mae_rf, end = '\n')

print('MAPE Score:')  
print(mape_rf, end = '\n')

print('R^2 Score:')  
print(r2_rf, end = '\n')

Training Random Forest, please wait...
Training on Random Forest completed
The whole Random Forest takes 153.967965s!

MSE Score:
2066.323610053949
MAE Score:
12.249568982063353
MAPE Score:
0.7611420514018358
R^2 Score:
0.7917750627800018

# LightGBM

In [130]:
# Time series K-fold
tscv = TimeSeriesSplit(n_splits = 5)
mse_lgb_array = []
mae_lgb_array = []
mape_lgb_array = []
r2_lgb_array = []
startTime = time.time()
fold = 0

# Model training
for train_index, val_index in tscv.split(X_train_scaled):
    fold += 1
    print('Training on fold %d, please wait...' % fold)
    X_train_cv, X_val_cv, y_train_cv, y_val_cv = (X_train_scaled[train_index], X_train_scaled[val_index], 
                                                  y_train[train_index], y_train[val_index])
    
    lgb_params = {'n_estimators': 4000, 'max_depth': 8, 'min_data_in_leaf': 10, 
                  'subsample': 0.9, 'learning_rate': 0.1, 'colsample_bytree': 0.9, 
                  'boosting_type': 'gbdt', 'random_state': 10}
    model = lgb.LGBMRegressor(objective = 'regression', **lgb_params)
    model.fit(X_train_cv, y_train_cv)
    prediction = model.predict(X_val_cv)

    mse = mean_squared_error(prediction, y_val_cv)
    mae = mean_absolute_error(prediction, y_val_cv)
    mape = mean_absolute_percentage_error(prediction, y_val_cv)
    r2 = r2_score(prediction, y_val_cv)
    
    mse_lgb_array.append(mse)
    mae_lgb_array.append(mae)
    mape_lgb_array.append(mape)
    r2_lgb_array.append(r2)
    
    print('Training on fold %d completed' % fold)

time_lgb = time.time() - startTime
print('The whole LightGBM takes %fs!' % time_lgb, end = '\n')

mse_lgb = np.mean(mse_lgb_array)
print('MSE Score:')  
print(mse_lgb, end = '\n')

mae_lgb = np.mean(mae_lgb_array)
print('MAE Score:')  
print(mae_lgb, end = '\n')

mape_lgb = np.mean(mape_lgb_array)
print('MAPE Score:')  
print(mape_lgb, end = '\n')

r2_lgb = np.mean(r2_lgb_array)
print('R^2 Score:')  
print(r2_lgb, end = '\n')

Training on fold 1, please wait...
Training on fold 1 completed
Training on fold 2, please wait...
Training on fold 2 completed
Training on fold 3, please wait...
Training on fold 3 completed
Training on fold 4, please wait...
Training on fold 4 completed
Training on fold 5, please wait...
Training on fold 5 completed
The whole LightGBM takes 217.695097s!
MSE Score:
1746.689439498652
MAE Score:
7.924171892545134
MAPE Score:
3.2718696167649517
R^2 Score:
0.4510815537830883

In [130]:
startTime = time.time()

# Model training
print('Training LightGBM, please wait...')
lgb_params = {'n_estimators': 4000, 'max_depth': 8, 'min_data_in_leaf': 10, 
              'subsample': 0.9, 'learning_rate': 0.1, 'colsample_bytree': 0.9, 
              'boosting_type': 'gbdt', 'random_state': 10}
model = lgb.LGBMRegressor(objective = 'regression', **lgb_params)
model.fit(X_train_scaled, y_train)
prediction_lgb = model.predict(X_test_scaled)

print('Training on LightGBM completed')

mse_lgb = mean_squared_error(prediction_lgb, y_test)
mae_lgb = mean_absolute_error(prediction_lgb, y_test)
mape_lgb = mean_absolute_percentage_error(prediction_lgb, y_test)
r2_lgb = r2_score(prediction_lgb, y_test)

time_lgb = time.time() - startTime
print('The whole LightGBM takes %fs!' % time_lgb)
print()

print('MSE Score:')  
print(mse_lgb, end = '\n')

print('MAE Score:')  
print(mae_lgb, end = '\n')

print('MAPE Score:')  
print(mape_lgb, end = '\n')

print('R^2 Score:')  
print(r2_lgb, end = '\n')

Training LightGBM, please wait...
Training on LightGBM completed
The whole LightGBM takes 45.779983s!

MSE Score:
3315.496774028581
MAE Score:
16.798301303247364
MAPE Score:
21.032191139890923
R^2 Score:
0.7447772452999813

# Arima

In [72]:
from pandas.plotting import autocorrelation_plot
from matplotlib import pyplot

%matplotlib
y_train_tmp = list(y_train.loc[16385])
autocorrelation_plot(y_train_tmp)
pyplot.show()

Using matplotlib backend: MacOSX

In [141]:
startTime = time.time()

# Model training
print('Training ARIMA, please wait...')

prediction_arima = []
y_train_tmp = list(y_train)

prediction_df = pd.DataFrame([], index = y_test.index, columns = ['prediction'])

for sku in sku_id:
    y_train_tmp = list(y_train.loc[sku])
    #print(y_train_tmp)
    #print(len(y_train_tmp))
    model = SARIMAX(y_train_tmp)
    model_fit = model.fit()
    prediction = model_fit.predict(start = len(y_train_tmp), end = len(y_train_tmp))
    prediction_df['prediction'].loc[sku] = prediction[0]
    
prediction_arima = np.reshape(prediction_df.values, y_test.values.shape, )
print('Training on ARIMA completed')

mse_arima = mean_squared_error(prediction_arima, y_test)
mae_arima = mean_absolute_error(prediction_arima, y_test)
mape_arima = mean_absolute_percentage_error(prediction_arima, y_test.values)
r2_arima = r2_score(prediction_arima, y_test)

time_arima = time.time() - startTime
print('The whole ARIMA takes %fs!' % time_arima)
print()

print('MSE Score:')  
print(mse_arima, end = '\n')

print('MAE Score:')  
print(mae_arima, end = '\n')

print('MAPE Score:')  
print(mape_arima, end = '\n')

print('R^2 Score:')  
print(r2_arima, end = '\n')

Training ARIMA, please wait...
Training on ARIMA completed
The whole ARIMA takes 86.671394s!

MSE Score:
4392.380654143197
MAE Score:
13.457189962564083
MAPE Score:
3098.2397103551652
R^2 Score:
0.7076162344679846